.Leaderboard-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid lightgray;
    padding: .5em 1em;
    margin: .5em 0;
}
.Leaderboard-user:nth-child(2n) {
    background-color: rgb(240, 240, 240);
}
.Leaderboard-user-stats {
    display: flex;
    flex-direction: column;
}
.Leaderboard-user-score {
    font-size: 1.5em;
}